<nav class="m-prod-treats">
    <div class="nav-wrapper treats">
      <div class="row">
        <div class="col s6">
          <div class="m-logo">
            <img class="responsive-img" src="../assets/img/HWS_Logo_Monitor_Candy.png">
          </div>
        </div>
        <div class="col s6">
          <!--ROCKY INSERT THE HAMBAGAHHHH HERE-->
        </div>
      </div>
    </div>
</nav>

<div class="row center">
  <div class="col s12">
    <div>
      <img class="responsive-img m-candy-logo" src="../assets/img/treats-stamp-img.png">
    </div>
  </div>
</div>
<div class="row center">
  <div class="col s12">
    <p class="mp-treats">you're in<br/>for a treat</p>

    <p class="icandy-cont">Our Hardware Sugar Treats are US-stock refurbished items. You get the same quality, same guarantee, and same warranty, but all for a sweeter deal!</p>
    
    <!-- <div class="list">
      <ol>
        <li>Apply as discount for your next purchase</li>
        <li>Trade in to buy steam games</li>
        <li>Use as raffle entries to win exciting prizes</li>
      </ol>
    </div> -->

    <button class="btn waves-effect waves-light"> view treats</button>
  </div>
</div>