<nav class="nav-center white index_nav" id="unscrolled-header" >
  <div class="row blktext center" >
      <div class="col s1 ">
              <div class="col s2 offset-s1">
                  <a href="#"><img src="../assets/img/icon_facebook.png"></a>
              </div>
              <div class="col s4 offset-s1">                                                     
                  <a href="#"><img src="../assets/img/icon_instagram.png"></a>
              </div>
      </div>
      <div class="col s4">
          <div class="row blue" style="margin-bottom:0!important;">
              <div class="line"></div>
          </div>
          <div class="row">
              <div class="col s4 nav-list"><a href="#">Products</a></div>
              <div class="col s4 nav-list"><a href="#">Candy</a></div>
              <div class="col s4 nav-list"><a href="#">HWS Treats</a></div>
          </div>
      </div>
      <div class="col s2 center">
          <img id="HWS_logo_candy" class="responsive-img" src="../assets/img/HWS_Logo_Monitor_Candy.png"> 
      </div>
      <div class="col s3">
          <div class="row" style="margin-bottom:0!important;">
              <div class="line"></div>
          </div>                
          <div class="row">
              <div class="col s4 nav-list"><a href="#">All</a></div>
              <div class="col s4 nav-list"><a href="#">Why Us?</a></div>
              <div class="col s4 nav-list"><a href="#">Hit us Up</a></div>
          </div>
      </div>
      <div class="col s2">
              <div class="col s4">
                  <a href="#"><img src="../assets/img/icon_user.png"></a>
              </div>
              <div class="col s4">
                  <a href="#"><img src="../assets/img/icon_question_mark.png"></a>
              </div>
              <div class="col s4">
                  <a href="#"><img src="../assets/img/icon_cart.png"></a>
              </div>
      </div>
  </div>
</nav>