<div mnFullpage [mnFullpageOnLeave]="onLeave" [mnFullpageNavigation]="true" [mnFullpageAnchors]="['landing','prods','candies','whyus','whyus2','whyus3','whyus4','whyus5','treatsEx']">

    <nav [class.hide]="isScrolled" class="nav-center white index_nav" id="unscrolled-header" >
        <div class="row blktext center" >
            <div class="col s1 ">
                <div class="col s2 offset-s1">
                    <a href="https://www.facebook.com/hwsugar/"><img src="../assets/img/icon_facebook.png"></a>
                </div>
                <div class="col s4 offset-s1">                                                     
                    <a href="https://www.instagram.com/hardwaresugar/"><img src="../assets/img/icon_instagram.png"></a>
                </div>
            </div>
            <div class="col s4">
                <div class="row blue" style="margin-bottom:0!important;">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col s4 nav-list"><a href="#prods">Products</a></div>
                    <div class="col s4 nav-list"><a href="#candies">Candy</a></div>
                    <div class="col s4 nav-list"><a [routerLink]="['/products/treats']">HWS Treats</a></div>
                </div>
            </div>
            <div class="col s2 center">
                <img id="HWS_logo_candy" class="responsive-img" src="../assets/img/HWS_Logo_Monitor_Candy.png"> 
            </div>
            <div class="col s3">
                <div class="row" style="margin-bottom:0!important;">
                    <div class="line"></div>
                </div>                
                <div class="row">
                    <div class="col s4 nav-list"><a href="https://docs.google.com/spreadsheets/d/1ewWrIVHcWtQ9PxkM5UHblbWmgT8fn6p7_B-L9hndq7I/edit#gid=0">All</a></div>
                    <div class="col s4 nav-list"><a href="#whyus">Why Us?</a></div>
                    <div class="col s4 nav-list"><a href="#">Contact</a></div>
                </div>
            </div>
            <div class="col s2">
                <div class="col s4">
                    <a href="#"><img src="../assets/img/icon_user.png"></a>
                </div>
                <div class="col s4">
                    <a href="#"><img src="../assets/img/icon_question_mark.png"></a>
                </div>
                <div class="col s4">
                    <a href="#"><img src="../assets/img/icon_cart.png"></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="section welcome-section fp-section fp-table index" data-anchor="landing">
        <div class = "fp-tableCell">
            <div class="row">
                <img class="responsive-img img-promo" src="../assets/img/img_index_promo.png">
            </div>
        </div>
    </div>

    <div class="section welcome-section fp-section fp-table product" data-anchor="prods">
        <div class = "fp-tableCell">          
            <div class="row center valign-wrapper" >
                <div class="col s1 center-align"></div>
                <div class="col s2 center-align" id="mon">
                    <a [routerLink]="['/products/treats']">
                        <img class="responsive-img mon_color"  src="../assets/img/icon_monitor.png">
                        <img class="responsive-img mon_blk" src="../assets/img/icon_monitor_blk.png">
                    </a>
                    <div id="mon-hover">
                        <p class="product-title">Monitors</p>
                    </div>
                </div>
                <div class="col s2 center-align" id="key" >
                    <a  [routerLink]="['/products/treats']">
                        <img class="responsive-img key_blk" src="../assets/img/icon_keyboard_blk.png">
                        <img class="responsive-img key_color" src="../assets/img/icon_keyboard.png">
                    </a>
                    <div id ="key-hover">
                        <p class="product-title">Keyboards</p>
                    </div>
                </div>
                <div class="col s2 center-align" id="candy">
                    <a [routerLink]="['/products/treats']">
                        <img class="responsive-img candy_color" src="../assets/img/icon_logo.png">
                    </a>
                    <div id ="candy-hover-disabled-for-now">
                        <p class="product-title">Steam Sale!</p>
                    </div>
                </div>
                <div class="col s2 center-align" id="psu">
                    <a href="#">
                        <img class="responsive-img psu_blk" src="../assets/img/icon_psu_blk.png">
                        <img class="responsive-img psu_color" src="../assets/img/CS_psu.png">
                    </a>
                    <div id="psu-hover">
                        <p class="product-title">Power Supply Unit</p>
                    </div>
                </div>
                <div class="col s2 center-align" id="ssd">
                    <a [routerLink]="['/products/treats']">
                        <img class="responsive-img ssd_blk" src="../assets/img/icon_ssd_blk.png">
                        <img class="responsive-img ssd_color" src="../assets/img/icon_ssd.png">
                    </a>
                    <div id ="ssd-hover">
                        <p class="product-title"> Solid-State Drives</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>
                <div class="col s1 center-align"></div>
            </div>

            <div class="row center valign-wrapper">
                <div class="col s1 center-align"></div>
                <div class="col s2 center-align" id="cpu">
                    <a href="#">
                        <img class="responsive-img cpu_blk" src="../assets/img/icon_cpu_blk.png">
                        <img class="responsive-img cpu_color" src="../assets/img/CS_cpu.png">
                    </a>
                    <div id="cpu-hover">
                        <p class="product-title">Central Processing Unit</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>
                <div class="col s2 center-align" id="memory">
                    <a href="#">
                        <img class="responsive-img mem_blk" src="../assets/img/icon_memory_blk.png">
                        <img class="responsive-img mem_color" src="../assets/img/CS_memory.png">
                    </a>
                    <div id="memory-hover">
                        <p class="product-title">Memory</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>

                <div class="col s2 center-align" id="mobo" >
                    <a href="#">
                        <img class="responsive-img mobo_blk" src="../assets/img/icon_motherboard_blk.png">
                        <img class="responsive-img mobo_color" src="../assets/img/CS_motherboard.png">
                    </a>
                    <div id ="mobo-hover">
                        <p class="product-title">Motherboards</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>

                <div class="col s2 center-align" id="graph-card">
                    <a href="#">
                        <img class="responsive-img gcard_blk" src="../assets/img/icon_graphic_card_blk.png">
                        <img class="responsive-img gcard_color" src="../assets/img/CS_graphic_card.png">
                    </a>
                    <div id ="graph-card-hover">
                        <p class="product-title">Graphic Cards</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>
                <div class="col s2 center-align" id="etc">
                    <a  [routerLink]="['/products/treats']">
                        <img class="responsive-img etc_blk" src="../assets/img/icon_etc_blk.png">
                        <img class="responsive-img etc_color" src="../assets/img/icon_etc.png">
                    </a>
                    <div id="etc-hover">
                        <p class="product-title">ETC</p>
                    </div>
                    <div class="product-icon-hover"></div>
                </div>
                <div class="col s1 center-align"></div>
                <a href="#candies"><p class="link-earn-candy">earn candies when you shop</p></a>
            </div>
        </div>
    </div>

    <div class="section welcome-section fp-section fp-table candy-sec" data-anchor="candies">
        <div class = "fp-tableCell">
            <div class="row">
                <div class="valign-wrapper">
                    <div class="col s5 right-align" style="padding-right:100px;">
                        <img class="responsive-img" src="../assets/img/HWS_Index_CANDY_Panel.png">
                    </div>
                    <div class="col s7">
                        <p class="candy-title whttext">More than just <br>eyecandy</p>
                        <p class="candy-text whttext">
                            When you shop here in Hardware Sugar, you get candies! For every 250Php you spend in the shop, you are rewarded with one candy. You can use your candies to:  
                        </p>
                        <ul class="whttext">
                            <li>1. Apply as a discount for your next purchase</li>
                            <li>2. Trade in to buy steam games</li>
                            <li>3. Use as raffle entries to win exciting prizes</li>
                        </ul>
                        <a href="#prods"class="waves-effect waves-teal btn-flat center">shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section welcome-section fp-section fp-table why-shop" data-anchor="whyus">
        <div class="fp-tableCell">
            <div class="row ws-one">
                <div class="col s5 ws-height valign-wrapper">
                    <div class="ws-title">
                        <p class="ws-text ">Why <br/> shop <br/>with us</p>
                    </div>
                </div>
                <div class="col s7 ws-height valign-wrapper">
                    <div class="ws-container">
                        <p class="ws-content">
                            Go to any PC store near you, and what do you see? First, the store is guaranteed to be cramped. Stacks of printer boxes in the middle, typical glass displays featuring laptops from 3 years ago and a buch of sealed, untestable other stuff. It's like going through a government office. 
                            <br/>NOT. FUN. AT. ALL
                            <br/> <br/>
                            Hardware Sugar was founded by 2 gamers who were tired of the lousy customer service of most local pc shops. Our aim is to make buying hardware FUN. 
                            <br/><br/>
                            Scroll down below and we'll let you know how!
                        </p>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table why-shop"data-anchor="whyus2">
        <div class = "fp-tableCell">
            <div class="row ws-two">
                <div class="col s5 ws-height BG valign-wrapper">
                    <div class="ws-title">
                        <p class="ws-item-text">a modern store in a modern world</p>
                        <img class="responsive-img" src="../assets/img/panel1-building.png">
                    </div>
                </div>
                <div class="col s7 ws-height valign-wrapper">
                    <div class="ws-container">
                        <p class="ws-content">
                            You demand the latest, cutting-edge tech and Hardware Sugar gets you. We welcome every PC tinkerer out there; if it's high-end or high-performance parts you're looking for, Hardware Sugar has it. 
                            <br><br>
                            Casual builders need not worry though! We also have stuff for first-time builders or if you just want a solid, everyday driver.
                                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="section welcome-section fp-section fp-table why-shop"data-anchor="whyus3">
        <div class = "fp-tableCell">
            <div class="row ws-three">
                <div class="col s5 ws-height BG valign-wrapper">
                    <div class="ws-title">
                        <p class="ws-item-text">what you see is what you get</p>
                        <img class="responsive-img" src="../assets/img/panel1-building.png">
                    </div>
                </div>
                <div class="col s7 ws-height valign-wrapper">
                    <div class="ws-container">
                        <p class="ws-content">
                            Everything we display is in stock. No more waiting and downpaying and following up when the stock will arrive. You want something? Buy it and enjoy it.  We do not believe in making the customer wait.
                        </p>
                    </div>
                </div>
            </div>    
        </div>
    </div>  
    <div class="section welcome-section fp-section fp-table why-shop"data-anchor="whyus4">
        <div class="fp-tableCell">
            <div class="row ws-four">
                <div class="col s5 ws-height BG valign-wrapper">
                    <div class="ws-title">
                        <p class="ws-item-text">get more than what you bargained for</p>
                        <img class="responsive-img" src="../assets/img/panel_four_img.png">
                    </div>
                </div>
                <div class="col s7 ws-height valign-wrapper">
                    <div class="ws-container">
                        <p class="ws-content">
                            When you shop here in Hardware Sugar, you get WAY more than your money's worth.
                            <br><br>
                            Get 100 pesos if you let us post and tag you on FB and IG with a picture of you with your purchase. Also, you get <span>candies</span>
                            <br><br>
                            And for our fellow gamers out there, every time Valve has a Steam Sale everything in the shop is 10% off.
                        </p>
                    </div>
                </div>
            </div>           
        </div>
    </div>  
    <div class="section welcome-section fp-section fp-table why-shop"data-anchor="whyus5">
        <div class = "fp-tableCell">
            <div class="row ws-five">
                <div class="col s5 ws-height BG valign-wrapper">
                    <div class="ws-title">
                        <p class="ws-item-text">better than free delivery</p>
                        <img class="responsive-img" src="../assets/img/panel_five_img.png">
                    </div>
                </div>
                <div class="col s7 ws-height valign-wrapper">
                    <div class="ws-container">
                        <p class="ws-content">
                            Yes our delivery is free. But if you come into the store to pick up your purchase you get 100 pesos rebate! We’d like a chance to say hello to all of our customers.
                        </p>
                        <a href="#landing"class="waves-effect waves-teal btn-flat center">Back to top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>      


    <div class="section welcome-section fp-section fp-table treatsEx-sec" data-anchor="treatsEx">
        <div class = "fp-tableCell">
            <div class="row">
                <div class="valign-wrapper">
                    <div class="col s5 right-align" style="padding-right:100px;">
                        <img class="responsive-img" src="../assets/img/treats-stamp-img.png">
                    </div>
                    <div class="col s7">
                        <p class="treatsEx-title whttext">You're in for <br>a treat</p>
                        <p class="treatsEx-text whttext">
                            Our Hardware Sugar Treats are US-stock refurbished items. You get the same quality, same guarantee, and same warranty, but all for a sweeter deal!
                        </p>
                        
                        <a href="#prods"class="waves-effect waves-teal btn-flat center">shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>                     



</div>

