<div class="row">
    <nav>
        <div class="nav-wrapper treats">
            <div class="col s6">
                <a [routerLink]="['/']" class="breadcrumb">HWS</a>
                <a href="#prods" class="breadcrumb">products</a>
                <a href="" class="breadcrumb">treats</a>
            </div>
            <div class="col s6"></div>
        </div>
    </nav>
</div>
<!-- Monitors -->
<div class="row monitors">
  <div class="col s12">
    <p class="treats-item-title">Monitors</p>
  </div>
</div>

<div class="row">
  <div class="col s6 products">
      <div id="product-1" class="products-item">
        <div class="container center products-item-content" >
          <div class="row no-btm">
              <div class="treat-img">
                  <div class="left">
                      <img src="../assets/img/product-treat-logo.png" class="responsive-img">
                  </div>
              </div>
              <div class="upper-cont">
                  <div>
                      <div class="right-align">
                          <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P15,200</p>
                          <div class="valign-wrapper right received-candies">
                              <p class="total-candies-rec">You get <span id="num-of-candies"> 60 </span> </p>
                              <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="middle-cont">
                  <img class="responsive-img" src="../assets/img/LG-32MP58HQ-P-1.png" >
              </div>
          </div>
          <div class="row">
              <div class="bottom-cont">
                  <div class="col s9 left-align no-pad">
                      <p class="product-brand" id="product-brand">LG</p>
                      <div class="treats-list">
                          <ul>
                              <li>32MP58HQ-P </li>
                              <li>1080P</li>
                              <li>32''</li>
                              <li>Full HD IPS</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col s3 center-align no-pad">
                      <button class="btn waves-effect waves-light">
                          <a href="contact-us-page.html">Buy Now</a>
                      </button>
                      <p class="prod-available">Available: <span>YES</span></p>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col s6 products">
      <div id="product-1" class="products-item">
          <div class="container center products-item-content" >
              <div class="row no-btm">
                  <div class="treat-img">
                      <div class="left">
                          <img src="../assets/img/product-treat-logo.png" class="responsive-img">
                      </div>
                  </div>
                  <div class="upper-cont">
                      <div>
                          <div class="right-align">
                              <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P15,200</p>
                              <div class="valign-wrapper right received-candies">
                                  <p class="total-candies-rec">You get <span id="num-of-candies"> 60 </span> </p>
                                  <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="middle-cont">
                      <img class="responsive-img" src="../assets/img/LG-32MA70HY-P-1.png" >
                  </div>
              </div>
              <div class="row">
                  <div class="bottom-cont">
                      <div class="col s9 left-align no-pad">
                          <p class="product-brand" id="product-brand">LG</p>
                          <div class="treats-list">
                              <ul>
                                  <li>32MA70HY-P </li>
                                  <li>1080P</li>
                                  <li>32''</li>
                                  <li>Full HD IPS</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col s3 center-align no-pad">
                          <button class="btn waves-effect waves-light">
                              <a href="contact-us-page.html">Buy Now</a>
                          </button>
                          <p class="prod-available">Available: <span>YES</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Monitor Ends-->

<!-- Keyboards -->
<div class="row keyboards">
  <div class="col s12">
    <p class="treats-item-title">Keyboards</p>
  </div>
</div>

<div class="row">
  <div class="col s6 products">
    <div id="product-1" class="products-item">
      <div class="container center products-item-content" >
        <div class="row no-btm">
          <div class="treat-img">
            <div class="left">
                <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
            </div>
          </div>
          <div class="upper-cont">
              <div>
                  <div class="right-align">
                      <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 7000.00  </span>Php 5,950</p>
                      <div class="valign-wrapper right received-candies">
                          <p class="total-candies-rec">You get <span id="num-of-candies"> 28 </span> </p>
                          <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="row">
        <div class="middle-cont">
            <img class="responsive-img" src="../assets/img/krbn-steampunk-keyboard.png" >
        </div>
    </div>
    <div class="row">
        <div class="bottom-cont">
            <div class="col s9 left-align no-pad">
                <p class="product-brand" id="product-brand">KrBN </p>
                <div class="treats-list">
                    <ul>
                        <li>Keyboard</li>
                        <li>Oarmy Blue Switch</li>
                        <li>Steampunk Look</li>
                        <li>LED Backlit </li>
                    </ul>
                </div>
            </div>
            <div class="col s3 center-align no-pad">
                <button class="btn waves-effect waves-light">
                    <a href="contact-us-page.html">Buy Now</a>
                </button>
                <p class="prod-available">Available: <span>YES</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Keyboards Ends-->

<!--SSDs-->
<div class="row ssd">
  <div class="col s12">
    <p class="treats-item-title">SSD</p>
  </div>
</div>

<div class="row">
    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 16,150.00 </span>Php 13,700</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 54 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/crucial-mx500.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Crucial 1TB SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>MX500</li>
                                    <li>1TB</li>
                                    <li>3D NAND SATA</li>
                                    <li>2.5-inch internal SSD</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 8,400.00 </span>Php 7,100</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 28 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/crucial-mx500.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Crucial 500GB SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>MX500</li>
                                    <li>500GB</li>
                                    <li>3D NAND Sata</li>
                                    <li>2.5-inch internal SSD</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 18,800.00 </span>Php 15,900</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 63 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/samsung-860-evo.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Samsung 1TB SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>860 EVO</li>
                                    <li>1tb</li>
                                    <li>2.5 inch sata ssd</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 9,100.00 </span>Php 7,700</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 30 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/samsung-860-evo.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Samsung 500GB SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>860 EVO</li>
                                    <li>500gb</li>
                                    <li>2.5 inch sata ssd</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <img src="../assets/img/product-treat-logo.png" class="responsive-img">
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 7,800.00 </span>Php 6,600</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 26 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/samsung-860-evo.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Samsung 500GB SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>860 EVO</li>
                                    <li>500gb</li>
                                    <li>2.5 inch sata ssd</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 16,150.00 </span>Php 13,700</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 54 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/sandisk-ultra.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">Sandisk 1tb SSD</p>
                            <div class="treats-list">
                                <ul>
                                    <li>Ultra</li>
                                    <li>1tb</li>                                    
                                    <li>3d nand sata iii ssd</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SSD Ends-->

<!--ETC-->
<div class="row ssd">
  <div class="col s12">
    <p class="treats-item-title">Coolers</p>
  </div>
</div>
<div class="row ">
    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> Php 1200.00  </span>Php 1,000</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 4 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/cryorig-cooler.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">CryOrig </p>
                            <div class="treats-list">
                                <ul>
                                    <li>Cooler</li>
                                    <li>m9i mini tower</li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ETC ends-->