<div class="row">
  <nav>
      <div class="nav-wrapper monitors">
          <div class="col s6">
              <a [routerLink]="['/']" class="breadcrumb">HWS</a>
              <a href="#prods" class="breadcrumb">products</a>
              <a href="#!" class="breadcrumb">monitors</a>
          </div>
          <div class="col s6"></div>
          
      </div>
  </nav>
</div>

<div class="row grey lighten-5">
  <div class="col s6 products">
      <div id="product-1" class="products-item">
          <div class="container center products-item-content" >
              <div class="row no-btm">
                  <div class="treat-img">
                      <div class="left">
                          <img src="../assets/img/product-treat-logo.png" class="responsive-img">
                      </div>
                  </div>
                  <div class="upper-cont">
                      <div>
                          <div class="right-align">
                              <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P15,200</p>
                              <div class="valign-wrapper right received-candies">
                                  <p class="total-candies-rec">You get <span id="num-of-candies"> 60 </span> </p>
                                  <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="middle-cont">
                      <img class="responsive-img" src="../assets/img/LG-32MP58HQ-P-1.png" >
                  </div>
              </div>
              <div class="row">
                  <div class="bottom-cont">
                      <div class="col s9 left-align no-pad">
                          <p class="product-brand" id="product-brand">LG</p>
                          <div class="monitors-list">
                              <ul>
                                  <li>32MP58HQ-P </li>
                                  <li>1080P</li>
                                  <li>32''</li>
                                  <li>Full HD IPS</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col s3 center-align no-pad">
                          <button class="btn waves-effect waves-light">
                              <a href="contact-us-page.html">Buy Now</a>
                          </button>
                          <p class="prod-available">Available: <span>YES</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col s6 products">
      <div id="product-1" class="products-item">
          <div class="container center products-item-content" >
              <div class="row no-btm">
                  <div class="treat-img">
                      <div class="left">
                          <img src="../assets/img/product-treat-logo.png" class="responsive-img">
                      </div>
                  </div>
                  <div class="upper-cont">
                      <div>
                          <div class="right-align">
                              <p class="recent-price" id="recent-price" #prodPrice> <span class= "crossed-out-price" id="crossed-out-price"> </span>P15,200</p>
                              <div class="valign-wrapper right received-candies">
                                  <p class="total-candies-rec">You get <span id="num-of-candies"> 60 </span> </p>
                                  <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="middle-cont">
                      <img class="responsive-img" src="../assets/img/LG-32MA70HY-P-1.png" >
                  </div>
              </div>
              <div class="row">
                  <div class="bottom-cont">
                      <div class="col s9 left-align no-pad">
                          <p class="product-brand" id="product-brand">LG</p>
                          <div class="monitors-list">
                              <ul>
                                  <li #prodName>32MA70HY-P </li>
                                  <li>1080P</li>
                                  <li>32''</li>
                                  <li>Full HD IPS</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col s3 center-align no-pad">
                          <button (click)="openOrderFormDialog({itemName:prodName.innerText, itemPrice:prodPrice.innerText})" class="btn waves-effect waves-light">
                              Buy Now
                          </button>
                          <p class="prod-available">Available: <span>YES</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row grey lighten-5">
  <div class="col s6 products">
      <div id="product-1" class="products-item">
          <div class="container center products-item-content" >
              <div class="row no-btm">
                  <div class="CS-img">
                      <div class="left">
                          <img src="../assets/img/coming-soon.png" class="responsive-img">
                      </div>
                  </div>
                  <div class="upper-cont">
                      <div>
                          <div class="right-align">
                              <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P29,100</p>
                              <div class="valign-wrapper right received-candies">
                                  <p class="total-candies-rec">You get <span id="num-of-candies"> 116 </span> </p>
                                  <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="middle-cont">
                      <img class="responsive-img" src="../assets/img/XB271HK-bmiprz-1.png" >
                  </div>
              </div>
              <div class="row">
                  <div class="bottom-cont">
                      <div class="col s9 left-align no-pad">
                          <p class="product-brand" id="product-brand">ACER</p>
                          <div class="monitors-list">
                              <ul>
                                  <li>XB271HK bmiprz </li>
                                  <li>3480x2160</li>
                                  <li>27''</li>
                                  <li> 4K UHD IPS </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col s3 center-align no-pad">
                          <button class="btn waves-effect waves-light disabled">
                              <a href="contact-us-page.html">Buy Now</a>
                          </button>
                          <p class="prod-available">Available: <span>No</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col s6 products">
      <div id="product-1" class="products-item">
          <div class="container center products-item-content" >
              <div class="row no-btm">
                  <div class="CS-img">
                      <div class="left">
                          <img src="../assets/img/coming-soon.png" class="responsive-img">
                      </div>
                  </div>
                  <div class="upper-cont">
                      <div>
                          <div class="right-align">
                              <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P64,600</p>
                              <div class="valign-wrapper right received-candies">
                                  <p class="total-candies-rec">You get <span id="num-of-candies"> 258 </span> </p>
                                  <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="middle-cont">
                      <img class="responsive-img" src="../assets/img/ASUS-PA329Q-1.png" >
                  </div>
              </div>
              <div class="row">
                  <div class="bottom-cont">
                      <div class="col s9 left-align no-pad">
                          <p class="product-brand" id="product-brand">ASUS</p>
                          <div class="monitors-list">
                              <ul>
                                  <li>PA329Q</li>
                                  <li>3840x2160</li>
                                  <li>32''</li>
                                  <li>4K/UHD IPS</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col s3 center-align no-pad">
                          <button  class="btn waves-effect waves-light disabled">
                              Buy Now
                          </button>
                          <p class="prod-available">Available: <span>SOON</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col s6">

  </div>
</div>