<div class="row">
    <nav>
        <div class="nav-wrapper keyboards">
            <div class="col s6">
                <a [routerLink]="['/']" class="breadcrumb">HWS</a>
                <a href="#prods" class="breadcrumb">products</a>
                <a href="#!" class="breadcrumb">keyboards</a>
            </div>
            <div class="col s6"></div>
        </div>
    </nav>
</div>

<div class="row grey lighten-5">
    <div class="col s6 products">
        <div id="product-1" class="products-item">
            <div class="container center products-item-content" >
                <div class="row no-btm">
                    <div class="treat-img">
                        <div class="left">
                            <!-- <img src="../assets/img/product-treat-logo.png" class="responsive-img"> -->
                        </div>
                    </div>
                    <div class="upper-cont">
                        <div>
                            <div class="right-align">
                                <p class="recent-price" id="recent-price"> <span class= "crossed-out-price" id="crossed-out-price"> </span>P7,000</p>
                                <div class="valign-wrapper right received-candies">
                                    <p class="total-candies-rec">You get <span id="num-of-candies"> 28 </span> </p>
                                    <img class="responsive-img candy-img" src="../assets/img/product-candies.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="middle-cont">
                        <img class="responsive-img" src="../assets/img/krbn-steampunk-keyboard.png" >
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-cont">
                        <div class="col s9 left-align no-pad">
                            <p class="product-brand" id="product-brand">KrBN </p>
                            <div class="keyboards-list">
                                <ul>
                                    <li>Keyboard</li>
                                    <li>Oarmy Blue Switch</li>
                                    <li>Steampunk Lookk</li>
                                    <li>LED Backlit </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s3 center-align no-pad">
                            <button class="btn waves-effect waves-light">
                                <a href="contact-us-page.html">Buy Now</a>
                            </button>
                            <p class="prod-available">Available: <span>YES</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>