<form [formGroup]="form" (ngSubmit)="submit(form)" class="example-form">
<h1 mat-dialog-title>You are ordering item: {{items.itemName}}</h1>
<mat-dialog-content>

    <mat-form-field class="example-full-width" appearance="outline">
      <input formControlName="customerName"  matInput placeholder="Full Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline" >
      <textarea formControlName="customerAddress" matInput placeholder="Delivery Address" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <input formControlName="customerPhoneNumber"  matInput placeholder="Phone Number">
    </mat-form-field>  
  
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn waves-effect waves-light" type="submit" >Add</button>
  <button class="btn waves-effect waves-light" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</form>