<div class="ws-bg ">
  <div class="row">
    <div class="container center">
      <p class="ws-title">Why shop <br> with us</p>
      <p class="ws-big-text ">Go to any PC store near you, and what do you see? First, the store is guaranteed to be cramped. Stacks of printer boxes in the middle, typical glass displays featuring laptops from 3 years ago and a buch of sealed, untestable other stuff. It's like going through a government office. </p>
      <p class="nf">Not. Fun. At. All</p>
    </div>
  </div>
</div> 