<nav class="nav-center white index_nav" id="unscrolled-header" >
  <div class="">
    <div class="row">
      <div class="col s4 center sm">
          <a href="https://www.facebook.com/hwsugar/"><img class="responsive-img" src="../assets/img/icon_facebook.png"></a>
          <a href="https://www.instagram.com/hardwaresugar/"><img class="responsive-img" src="../assets/img/icon_instagram.png"></a>
      </div>
      <div class="mlogo">
      <div class="col s4 center">
        <div>
        <img id="HWS_logo_candy" class="responsive-img" src="../assets/img/HWS_Logo_Monitor_Candy.png">
      </div>
      </div>
      </div>
      <div class="col s4">
      </div>
    </div>
  </div>
</nav>

<div class="section welcome-section fp-section fp-table product m-index">
  <div class="row">
    <div class="m-index-line col s12">
      <p>Level <span>up</span><br/> your <br/><span>game</span></p>
    </div>
    <div class="col s12">
        <img src="../assets/img/img_index_no_text.png" class="responsive-img">
    </div>
    <div class="bs-text col s12 center">
      <p class="best-sellers"> Best Sellers </p>
    </div>
  </div>
  <div class="row center m-best-items">
    <div class="col s4">
        <img src="../assets/img/tomahawk.png" class="responsive-img">

        <p class="m-item-title">MSI Tomahawk</p>
        <p>php <span class="m-item-price">7,520</span></p>
    </div>
    <div class="col s4">
        <img src="../assets/img/sandisk-ultra.png" class="responsive-img">

        <p class="m-item-title">Sandisk 1tb</p>
        <p>php <span class="m-item-price">13,700</span></p>
    </div>
    <div class="col s4">
        <img src="../assets/img/cryorig-cooler.png" class="responsive-img">

        <p class="m-item-title">Cryorig m9i</p>
        <p>php <span class="m-item-price">1,000</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a [routerLink]="['/mobile/treats']"> <p class="m-seemore"> See more </p></a>
    </div>
  </div>
</div>